{% load static %}

<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %} Base {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}">
</head>
<body>
	<h1>Noticias.com</h1>
	<p>{% block titulo %} ¡Bienvenido! {% endblock %}</p>

	<div>
		{% block contenido %}
		
		{% endblock %}
	</div>

<p>Contacto: tomas_juran96@hotmail.com</p>	
</body>
</html>

