{% extends 'base.html' %}

{% block title %} Demo {% endblock %}

{% block contenido %}
	{% for noticia in lista_noticias %}
		<h3>{{ noticia.categoria.nombre|upper }}
			{{ noticia.fecha}}
			{{ noticia.titulo}}</h3>
		<p>{{ noticia.texto }}</p>
		{% include 'publicidad.html' %}
	{% endfor %}
{% endblock %}